loginStyle {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  /* background-color: #282c34; */
  /* color: white; */
  /* padding: 40px; */
  font-family: Avenir;
  /* text-align: center; */
}
